In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
Path = r"employee.csv"
data = pd.read_csv(Path, delimiter=";")
correlations = data.corr()
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111)
cax = ax.matshow(correlations, cmap='coolwarm', vmin=-1, vmax=1)
fig.colorbar(cax)
ticks = np.arange(0, len(data.columns), 1)
ax.set_xticks(ticks)
ax.set_yticks(ticks)
ax.set_xticklabels(data.columns, rotation=90)
ax.set_yticklabels(data.columns)
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'employee.csv'

In [2]:
df=pd.read_csv("employees.csv",sep=',')

In [5]:
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [8]:
dfs=df[['Gender','Team','Salary']]

In [9]:
dfs.head()

   Gender             Team  Salary
0    Male        Marketing   97308
1    Male              NaN   61933
2  Female          Finance  130590
3    Male          Finance  138705
4    Male  Client Services  101004

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [12]:
dfs=dfs.replace('Male',0)
dfs=dfs.replace('Female',1)

In [13]:
dfs.head()

   Gender             Team  Salary
0     0.0        Marketing   97308
1     0.0              NaN   61933
2     1.0          Finance  130590
3     0.0          Finance  138705
4     0.0  Client Services  101004

In [14]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  855 non-null    float64
 1   Team    957 non-null    object
 2   Salary  1000 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ KB